{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
<link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.png')}}" type="image/x-icon">
<link href='https://fonts.googleapis.com/css?family=Antic' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Tenor Sans' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Alegreya Sans SC' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Lovers Quarrel' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Julius Sans One' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Telex' rel='stylesheet'>
{{simplemde.css}}
{{simplemde.js}}
{% endblock %}

{% block navbar%}
{% include 'navbar.html' %}
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static',filename='js/jquery.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery.easing.min.js')}}"></script>
<script src="{{url_for('static',filename='js/script.js')}}"></script>
{%endblock%}
